.product-container:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.product-container{
    border: 1px solid rgb(238, 235, 235);
    border-radius: 10px;
}

/* 
.product-main-container::-webkit-scrollbar {
    display: none;
  } */
  

  

  /* width */
.product-main-container::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  .product-main-container::-webkit-scrollbar-track {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
  }
   
  /* Handle */
  .product-main-container::-webkit-scrollbar-thumb {
    background: gainsboro; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .product-main-container::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }



  /* width */
  .product-left-container::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  .product-left-container::-webkit-scrollbar {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .product-left-container::-webkit-scrollbar {
    background: gainsboro; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .product-left-container::-webkit-scrollbar :hover {
    background: #b30000; 
  }




  /* Section 5 sort */

  .sort-hover-yellow{
    font-size: .75rem;
    font-weight: 600;
  }


  .sort-hover-yellow:hover{
    background-color: yellow;
    cursor: pointer;
  }



  /* Section 4 price filter */
  .section-price-filter{
    border: 1px solid rgb(228, 225, 225);
  }

  .section-price-filter:hover{
    cursor: pointer;
    border: 1px solid black;
  }



  /* Left section */
  .section-left-hover-bold:hover
  {
    cursor: pointer;
    font-weight: 700;
  }

  .section-left-hover-bold{
    display: block;
  }




  /* product box title */
  .product-container-title
  {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
  }


  .bx-heart{
    cursor: pointer;
  }

  .bx-heart:hover{
    color: rgb(243, 177, 177);
  }